@font-face {
    font-family: "Hammersmith";
    src: url(./police/Hammersmith_One.zip);
}

body{
    background-color: #f3f4f4;
    font-family: "Hammersmith", Arial, Helvetica, sans-serif;
    margin: 0px 200px;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    color: #3ed4cc;
    text-align: center;
    margin: 40px 20px 20px 20px;
}

header h2 {
    font-size: 17px;
    font-weight: 100;
    color: #3f6d8b;
    text-align: center;
    line-height: 170%;
    padding: 0px 60px 30px 60px;
    border-bottom: 5px solid #3ed4cc;
}

main{
    display: flex;
    padding-top: 15px;
}

aside{
    width: 600px;
    padding-right: 30px;
}

.right-bloc{
    padding-left: 20px;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    color: #3ed4cc;
    text-transform: uppercase;
    padding: 20px 0px;
    letter-spacing: 5px;
}

.profil p{
    font-size: 15px;
    font-weight: 100;
    color: #3f6d8b;
    line-height: 170%;
    text-align: justify;
}

.profil b{
    font-size: 15px;
    font-weight: 100;
    color: #3f6d8b;
}

.contact{
    color: #3f6d8b;
}

.contact li{
    display: flex;
    gap: 20px;
    padding: 7px;

}

.contact li img{
    width: 25px;
    height: auto;
    padding-bottom: 5px;
}

